div {
    background-color: aliceblue;
}

.header-center {
    text-align: center;
}

.grid-upload {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "upload1 upload2"
}

.upload1 {
    border: 1px solid black;
    grid-area: upload1;
    /* background-color: antiquewhite; */
    text-align: center;
    height: 100%;
    margin-left: 30px;
}

.upload2 {
    border: 1px solid black;
    padding: 20 0 20 0;
    margin-left: 5px;
    grid-area: upload2;
    /* background-color: lightcyan; */
    text-align: center;
    margin-right: 30px;
}

.upload-button {
    position:relative; 
    top:50%; 
}

.upload-text-input>textarea {
    margin-left: 10px;
    margin-right: 10px;
}

.upload-text-container {
    display: flex;
}

.upload-text-flex {
    flex: 1;
}


.grid-results {
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-template-rows: 25% 25%; */
    grid-template-areas: 
        "res1 res2"
        "res3 res4";
    height: 80%;
    text-align: center;
}

.grid-results>div:hover {
    background-color: #dddddd;
}

.grid-results>div>span {
    font-size: 2em;
}

.res1 {
    background-color: #fff9a1;
    grid-area: res1;
}
.res1>p{
    color: #d9d26c;
    width: 75%;
}

.res2 {
    background-color: #d4fbff;
    grid-area: res2;
}
.res2>p{
    color: #9dc7cc;
    width: 75%;
}

.res3 {
    background-color: #b0ffcd;
    grid-area: res3;
}
.res3>p{
    color: #7acc98;
    width: 75%;
}

.res4 {
    background-color: #ffd4b0;
    grid-area: res4;
}
.res4>p{
    color: #d19e75;
    width: 75%;
}