/* div {
    background-color: aliceblue;
} */

/***
*
* Not sure what this is yet
*
***/

.header-center {
    text-align: center;
    margin: 20 0 20 0;
}

.container {
    font-size: 20px;
    width: 100%;
    height: 100%;
}
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
  }

/* .grid-upload {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "upload1 upload2"
} */
.leftpane {
    width: 40%;
    height: 100%;
    float: left;
    border-collapse: collapse;
}

.middlepane {
    width: 30%;
    height: 100%;
    float: left;
    border-collapse: collapse;
}

.rightpane {
  width: 30%;
  height: 100%;
  position: relative;
  float: right;
  background-color: rose;
  border-collapse: collapse;
}

.toppane {
  width: 100%;
  height: 100px;
  border-collapse: collapse;
  background-color: #4da6ff;
}

.upload1 {
    border-bottom: 3px solid black;
    text-align: center;
    height: 100%;
    padding-left: 30px;
    padding-right: 5px;
    height: 80vh;
}

.upload2 {
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    padding: 20 0 20 0;
    padding-left: 5px;
    text-align: center;
    padding-right: 30px;
    height: 80vh;
}

.upload-button {
    align-items: center;
}
.upload-button>button{
    top: 50%;
}

.upload-text-input>textarea {
    margin-left: 10px;
    margin-right: 10px;
}

.upload-text-container {
    display: flex;
}

.upload-text-flex {
    flex: 1;
}

.login-container {
    max-height: 40vh;
    cursor: default;
    background-color: #fff6e8;
    margin: 5px;
}

.login-head>a {
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.login-head>a:hover {
    text-decoration: none;
    color: black;
}

.login-body {
    height: 80%;
    overflow: scroll;
    color: #d4bc98;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.results-container {
    max-height: 40vh;
    cursor: default;
    background-color: #fff6e8;
    margin: 5px;
}

.results-head>a {
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.results-head>a:hover {
    text-decoration: none;
    color: black;
}

.results-body {
    height: 80%;
    overflow: scroll;
    color: #d4bc98;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.results-body::-webkit-scrollbar {
    display: none;
}

/* .res1 {
    background-color: #fff9a1;
    grid-area: res1;
}
.res1>div>p{
    color: #d9d26c;
}

.res2 {
    background-color: #d4fbff;
    grid-area: res2;
}
.res2>div>p{
    color: #9dc7cc;
}

.res3 {
    background-color: #b0ffcd;
    grid-area: res3;
}
.res3>div>p{
    color: #7acc98;
}

.res4 {
    background-color: #ffd4b0;
    grid-area: res4;
}
.res4>div>p{
    color: #d19e75;
} */
.results-container:hover {
    background-color: rgb(204, 243, 255);
}

.results-container:hover p {
    color: rgba(0,0,0,.5);
}

/***
*
* Similarity page
*
***/
.wrapper {
    display: flex;
    width: 100%;
    /* align-items: stretch; */
}

/* For mobile versions */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/poppins/v19/pxiByp8kv8JHgFVrLDz8Z1JlFd2JQEl8qw.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

/* p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #fff;
}
*/
#content {
    width: 100%;
}


#navbarDropdown {
    margin-right: 30px;
}


#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}


.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
} 

#sidebar a:hover {
    background-color: #ffffff;
    color: rgb(36, 122, 148) !important;
    text-decoration: none !important;
    transition: all 0.3s;
}

#sidebar {
    background: rgb(204, 243, 255);
    color: #000 ;
    transition: all 0.3s;
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;

}
#sidebar a, a:focus {
    color: rgba(0,0,0,.5);
    text-decoration: none;
    transition: all 0.3s;
}
#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li.active > a {
    color: #000;
    background: rgb(179, 237, 255);
}


ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: rgb(204, 243, 255);
} 

.text-scroll {
    max-height: 70vh;
    min-height: 70vh;
    overflow: scroll;
}

.sentence {
    cursor: pointer;
}

#sidebarCollapse {
    margin-right: 15px;
}

#chart {
    height:100px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    margin-bottom: 10px;
}

.float-right {
    float: right;
}

#submitTextButton>a {
    color: rgba(0,0,0);
    text-decoration: none;
}

/* #submitTextButton>a:hover {
    text-decoration: none !important;
} */

/* color: rgba(0,0,0,.5); */
/* #sidebar a, a:focus {
    text-decoration: none;
    transition: all 0.3s;
} */

.text_resize {
    resize: none;
    width: 100%;
    margin-top: 10px;
}

.marginTop {
    margin-top: 20px;
}
