{% extends 'process_text/base.html' %}
{% load static %}

{% block body_content %}
<div class="container">
    <div class="row">
        <div class="col" id="accountUpdateInfo">
            <h2 class="header-center">Update Account Info</h2>
        </div>
    </div>
    <div class="row">
        <div class="col" id="accountChangePassword">
            <h2 class="header-center">Change Password</h2>
        </div>
    </div>
    <div class="row">
        <div class="col" id="accountConfigure">
            <h2 class="header-center">Configure Settings</h2>
        </div>
    </div>
</div>
{% endblock %}