{% extends 'process_text/base.html' %}

{% block body_content %}
<div class="container">
    <div class="row">
        <div class="col-9">
            <h1 class="header-center">Comprehensibility</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-9" id="chart"><h4>Chart goes here</h4></div>
        <div class="col-3">
            <h3 class="header-center">Questions</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-9 text-scroll">
            <div class="row" id="textContainer">
                <div class="col">
                    {% for s in sentences %}
                    <span style="border-bottom: 3px solid {{ s.color }}" class="sentence" data-index="{{s.idx}}" data-score="{{s.idx}}">{{s.s}}</span>
                    {% endfor %}
                </div>
                <div class="col">
                    {% for s in sentences %}
                    <span style="border-bottom: 3px solid {{ s.color }}" class="sentence" data-index="{{s.idx}}" data-score="{{s.idx}}">{{s.t}}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="text-scroll">
                {% for question_list in questions %}
                    <div>
                        {% for q_a in question_list %}
                            <span>Q: {{q_a.question}}</span>
                            <br>
                            <span style="border-bottom: 2px solid {{ q_a.color }}">A: {{q_a.answer}}</span>
                        {% endfor %}
                    </div>
                    <br>
                {% endfor %}
                <span id="simScore"></span>
            </div>
        </div>
    </div>
</div>

{% endblock %}