{% extends 'process_text/base.html' %}

{% block body_content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Welcome!</h1>
        <!-- <p class="lead">Content will go here explaining the process of the tool.</p>  -->
        <p>
            This tranlsation quality checking tool aims to aid translators, consultants, and administrators in creating high-quality
            and comprehensive translations.
        </p>
        <hr class="my-4">
        <p>
            Any feedback is welcome. Please use the contact information found below to let the developers know.
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Register</a>
        </p>
    </div>
    <div class="info-box">
        <h1>Translation Tool</h1>
        <p>
            The tool that was built utilizes AI models to determine the traits of a translation. These traits include
            semantic similarity, comprehensibility, and readability. Semantic similarity can be described as how close
            the different words and phrases in a source text are to those of the translated text. Comprehensibility
            uses question and answer pairs to ensure that information is being captured in a translated text. Readability
            determines the complexity of a sentence. A high readability score would indicate a piece of text that would
            require a higher reading level to interpret.
        </p>
        <h2>About the Team</h2>
        <p>
            We are a group of students enrolled in the Business Analytics and Information Management program at Purdue
            University. We each brought a unique background and skill set to the development of this project. 
        </p>
        <ul>
            <li>Subhashree Chowdhury</li>
            <li>Ryan Egbert</li>
            <li>Poorna Narasimhan</li>
            <li>Suyash Sukthankar</li>
        </ul>
        <h2>Contact</h2>
        <p>
            To give feedback or to report any changes that should be made to the application, please contact us 
            at <a href="mailto:regbert@purdue.edu">regbert@purdue.edu</a>.
        </p>
    </div>
</div>
{% endblock %}

