{% extends 'process_text/base.html' %}

{% block body_content %}
<div class="container">
    <h1 class="header-center">Text is processing...</h1>
    <div class="row">
        <div class="col header-center">
            <form action="{% url 'results' %}">
                <button class="btn btn-secondary btn-lg">Overview</button>
            </form>
        </div>
        <div class="col header-center">
            <form action="{% url 'view' %}">
                <button class="btn btn-secondary btn-lg">Specifics</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}