{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'process_text/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'boot/css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'boot/css/bootstrap-grid.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'boot/css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'boot/css/bootstrap-grid.min.css' %}">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">SIL</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Upload Translations <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Quality Metrics
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Semantic Similarity</a>
                    <a class="dropdown-item" href="#">Comprehensibility</a>
                    <a class="dropdown-item" href="#">Readability</a>
                    <a class="dropdown-item" href="#">Semantic Domains</a>
                    <!-- <div class="dropdown-divider"></div> -->
                    <!-- <a class="dropdown-item" href="#">Something else here</a> -->
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About the Project</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
        </ul>
        <ul class="navbar-nav ml-sm-2">
            <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
            <br>
            <li class="nav-item"><a class="nav-link" href="#">Register</a></li>
        </ul>
        <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
    </div>
</nav>

<div class="container-fluid">
    <h1 class="header-center">Readability</h1>
    </div>
    <br class="container-fluid"><br class="container-fluid">

    <div class="header-center">
    <textarea name="message" rows="10" cols="100">
        "Translated Text Goes Here"
    </textarea>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="header-center">
    <textarea name="message" rows="2" cols="20">
        "High"
    </textarea>
    </div>
    <br>
    <div class="header-center">
    <textarea name="message" rows="2" cols="20">
        "Medium"
    </textarea>
    </div>
    <br>
    <div class="header-center">
    <textarea name="message" rows="2" cols="20">
        "Low"
    </textarea>
    </div>

</div>