{% extends 'process_text/base.html' %}

{% block body_content %}
<div class="container">
    <h1 class="header-center">Readability</h1>
    </div>
    <br class="container-fluid"><br class="container-fluid">

    <div class="header-center">
    <textarea name="message" rows="10" cols="100">
        "Translated Text Goes Here"
    </textarea>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="header-center">
    <textarea name="message" rows="2" cols="20">
        "High"
    </textarea>
    </div>
    <br>
    <div class="header-center">
    <textarea name="message" rows="2" cols="20">
        "Medium"
    </textarea>
    </div>
    <br>
    <div class="header-center">
    <textarea name="message" rows="2" cols="20">
        "Low"
    </textarea>
    </div>

</div>
{% endblock %}