{% extends 'process_text/base.html' %}

{% block body_content %}
<div class="container">
    <div class="row">
        <div class="col-10">
            <h1 class="header-center">Semantic Similarity</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-10" id="chart"><h4>Chart goes here</h4></div>
        <div class="col-2">
            <h3 class="header-center">Scoring</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-10 text-scroll">
            <div class="row" id="textContainer">
                <div class="col">
                    {% for s in sentences %}
                    <span style="border-bottom: 3px solid {{ s.color }}" class="sentence" data-index="{{s.idx}}" data-score="{{s.idx}}">{{s.s}}</span>
                    {% endfor %}
                </div>
                <div class="col">
                    {% for s in sentences %}
                    <span style="border-bottom: 3px solid {{ s.color }}" class="sentence" data-index="{{s.idx}}" data-score="{{s.idx}}">{{s.t}}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-2">Score: <span id="simScore"></span></div>
    </div>
</div>
{% endblock %}
