{% extends 'process_text/base.html' %}
{% load static %}

{% block body_content %}
<div class="container-fluid marginTop">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    Upload a File
                </div>
                <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
                <script>
                    function showProgressBar() {
                        document.getElementById("PreLoaderBar").style.display = "block"; 
                        
                    }
                </script>
                <div class="card-body">
                    <form enctype="multipart/form-data" action="{% url 'processFile' %}" method="POST">
                        {% csrf_token %}
                        <div class="custom-file">                
                            <input name="uploadFile" type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                        <div class="progress" id="PreLoaderBar">
                            <div class="indeterminate"></div>
                        </div>
                        <button onclick="showProgressBar()" type="submit" data-toggle="modal" data-target="#processingModal">Submit</button>
                    </form>
                </div>
                <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                <script src="{% static 'process_text/js/main.js' %}"></script> -->
            </div>
        </div>
        <div class="col-8">
            <form action="{% url 'processText' %}" method="POST">
                {% csrf_token %}
            <div class="card">
                <div class="card-header">
                    Manually enter translations
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check form-check-inline">
                            <input name="sim-check" class="form-check-input" type="checkbox" id="similarity-toggle" checked>
                            <label class="form-check-label">Semantic Similarity</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="comp-check" class="form-check-input" type="checkbox" id="similarity-toggle" checked>
                            <label class="form-check-label">Comprehensibility</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="read-check" class="form-check-input" type="checkbox" id="similarity-toggle" checked>
                            <label class="form-check-label">Readability</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="semdom-check" class="form-check-input" type="checkbox" id="similarity-toggle" checked>
                            <label class="form-check-label">Semantic Domains</label>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col">
                            <textarea name="source" class="text_resize" cols="50" rows="20" placeholder="Source text goes here"></textarea>
                        </div>
                        <div class="col">
                            <textarea name="translated" class="text_resize" cols="50" rows="20" placeholder="Translated text goes here"></textarea>
                        </div>
                    </div>
                    <br>
                    <div>
                        <button class="btn btn-secondary" type="submit" data-toggle="modal" data-target="#processingModal">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="processingModal" tabindex="-1" role="dialog" aria-labelledby="processingModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Processing...</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
                <!-- <span aria-hidden="true">&times;</span> -->
                <!-- </button> -->
            </div>
            <!-- <form>
                {% csrf_token %} -->
                <div class="modal-body">
                    <div class="metric-processing">
                        <span>Similarity:</span>
                        <br>
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="metric-processing">
                        <span>Comprehensibility:</span>
                        <br>
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="metric-processing">
                        <span>Readability:</span>
                        <br>
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="metric-processing">
                        <span>Similarity:</span>
                        <br>
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <div class="spinner-border save-changes" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <button id="add-question-submit" type="button" class="save-changes active_ btn btn-primary">
                        Save changes
                    </button>
                </div> -->
            <!-- </form> -->
        </div>
    </div>
</div>
{% endblock %}